/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item{
    margin:10px;
}
.accordion__button {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    color: #808080;
    display: inline-flex;
}

.accordion__button:hover {
    background-color: #18242f;
}

/*
.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid #1e2d3b;
    border-right: 2px solid #1e2d3b;
    transform: rotate(-45deg);
    margin: 15px 15px;
    background: #1e2d3b;
}
*/
.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 0px;
    color:#fff;
    animation: fadein 0.35s ease-in;
}
.kumbafu {
    background: #e2f2f4;
    color: #000 !important;
    margin: 0px 0px 1px 0px;
    width: 100%;
    padding: 5px;
    opacity: 0.8;
    color: #584552;
}

.kumbafu:nth-child(2n) {
    background: #fff;
    color: #000 !important;
    margin: 0px 0px 1px 0px;
    width: 100%;
    padding: 5px;
    opacity: 0.8;
    color: #584552;
}
.slipheader {
    background: rgba(52, 179, 191, 0.6);
    padding: 3px;
    color: #fff;
    font-size: 12px;
}

.mybet-list {
    margin: 5px 0;
    width: -moz-available;
}
/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

